volumes:
  navi_backend_local_postgres_data: {}
  navi_backend_local_postgres_data_backups: {}

services:
  django:
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: navi_backend_local_django
    container_name: navi_backend_local_django
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/app:z
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
      - ./.envs/.local/.stripe
    ports:
      - "8000:8000"
      - "5678:5678"  # debugpy port
    environment:
      - DEBUGPY_ENABLED=${DEBUGPY_ENABLED:-0}  # Set to 1 to enable debugging
      - DEBUGPY_WAIT=${DEBUGPY_WAIT:-0}        # Set to 1 to wait for debugger before starting
    command: /start

  stripe:
    image: stripe/stripe-cli
    container_name: stripe
    command: "listen --api-key $${STRIPE_API_KEY} --device-name $${STRIPE_DEVICE_NAME} --forward-to django:8000/payment/webhook/"
    env_file:
      - ./.envs/.local/.stripe
    depends_on:
      - django
    volumes:
      - ./stripe-data:/root/.stripe

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: navi_backend_production_postgres
    container_name: navi_backend_local_postgres
    volumes:
      - navi_backend_local_postgres_data:/var/lib/postgresql/data
      - navi_backend_local_postgres_data_backups:/backups
    env_file:
      - ./.envs/.local/.postgres

  redis:
    image: docker.io/redis:6
    container_name: navi_backend_local_redis

  celery_worker:
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: navi_backend_local_django_celery
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/app:z
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
    command: /start-celeryworker

  celery_beat:
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: navi_backend_local_django_beat
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/app:z
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
    command: /start-celerybeat

  flower:
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: navi_backend_local_django_flower
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/app:z
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
    ports:
      - "5557:5555"
    command: /start-flower
