volumes:
  staging_django_media: {}

secrets:
  django_secret_key:
    file: .envs/.staging/.django_secret
  postgres_password:
    file: .envs/.staging/.postgres_password

services:
  django:
    build:
      context: .
      dockerfile: ./compose/staging/django/Dockerfile
    image: navi_backend_staging_django
    restart: unless-stopped
    volumes:
      - staging_django_media:/app/navi_backend/media
    env_file:
      - ./.envs/.staging/.django
      - ./.envs/.staging/.postgres
      - ./.envs/.staging/.stripe
    environment:
      - DJANGO_SECRET_KEY_FILE=/run/secrets/django_secret_key
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
    ports:
      - "5001:5000"
    secrets:
      - django_secret_key
      - postgres_password
    command: /start

  stripe:
    image: stripe/stripe-cli
    container_name: stripe
    command: "listen --api-key $${STRIPE_API_KEY} --device-name $${STRIPE_DEVICE_NAME} --forward-to django:5000/payment/webhook/"
    env_file:
      - ./.envs/.staging/.stripe
    depends_on:
      - django
    volumes:
      - ./stripe-data:/root/.stripe

  celery_worker:
    build:
      context: .
      dockerfile: ./compose/staging/django/Dockerfile
    image: navi_backend_staging_django_celery
    restart: unless-stopped
    volumes:
      - staging_django_media:/app/navi_backend/media
    env_file:
      - ./.envs/.staging/.django
      - ./.envs/.staging/.postgres
    environment:
      - DJANGO_SECRET_KEY_FILE=/run/secrets/django_secret_key
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: '1'
          memory: 1G
    secrets:
      - django_secret_key
      - postgres_password
    command: /start-celeryworker --concurrency=2

  celery_beat:
    build:
      context: .
      dockerfile: ./compose/staging/django/Dockerfile
    image: navi_backend_staging_django_beat
    restart: unless-stopped
    volumes:
      - staging_django_media:/app/navi_backend/media
    env_file:
      - ./.envs/.staging/.django
      - ./.envs/.staging/.postgres
    environment:
      - DJANGO_SECRET_KEY_FILE=/run/secrets/django_secret_key
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
    secrets:
      - django_secret_key
      - postgres_password
    command: /start-celerybeat

  flower:
    build:
      context: .
      dockerfile: ./compose/staging/django/Dockerfile
    image: navi_backend_staging_django_flower
    restart: unless-stopped
    volumes:
      - staging_django_media:/app/navi_backend/media
    env_file:
      - ./.envs/.staging/.django
      - ./.envs/.staging/.postgres
    environment:
      - DJANGO_SECRET_KEY_FILE=/run/secrets/django_secret_key
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
    ports:
      - "5557:5555"
    secrets:
      - django_secret_key
      - postgres_password
    command: /start-flower
