  name: Push to release staging

  on:
    workflow_dispatch:

  jobs:
    checkout-and-push:
      runs-on: ubuntu-latest
      permissions:
        contents: write
      steps:
        - name: Checkout Repo
          uses: actions/checkout@v5
          with:
            fetch-depth: 0
            token: ${{ secrets.GH_TOKEN }}

        - name: Configure Git
          run: |
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"

        - name: Merge development into release-staging
          run: |
            git checkout release-staging
            git merge origin/development
            git push origin release-staging
